@charset "utf-8";
/* CSS Document */
.menuBar {
	height: 30px;
	background-color:#2A90C1;
}
.bar {
	background-color:#2A90C1;
}


.longtextbox2{
font-family:Arial, Helvetica, sans-serif;
color:#000;
width:300px;
height:100px;
overflow:hidden;
vertical-align:top;
}

.longtextbox23{
font-family:Arial, Helvetica, sans-serif;
color:#000;
width:300px;
height:40px;
overflow:hidden;
text-transform:capitalize;
vertical-align:top;
}
.longtextbox{
	
font-family:Arial, Helvetica, sans-serif;
color:#000;
width:300px;
font-size:12px;
text-transform:capitalize;
height:40px;
overflow:hidden;	}
	
.menuText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-decoration:none;
}
.menuText a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration:none;
}
.menuText a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	text-decoration:none;
}
.menuText a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2378A1;
	font-weight: bold;
	text-decoration:underline;
}

.menuText1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;
}
.menuText1 a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;
}
.menuText1 a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;
}
.menuText1 a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:underline;
}
.orangeText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
	font-weight: bold;
	text-decoration:none;
}
.orangeText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
	font-weight: bold;
	text-decoration:none;
}
.orangeTextSmall {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC6600;
	/*font-weight: bold;*/
	text-decoration:none;
}
.orangeText a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
	font-weight: bold;
	text-decoration:none;
}
.orangeText a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC9900;
	font-weight: bold;
	text-decoration:underline;
}
.smallText{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #A7DEB4;
	text-decoration:none;
}
.smallText a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight:bold;
	text-decoration:none;
}
.smallText a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight:bold;
	text-decoration:none;
}
.smallText a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight:bold;
	text-decoration:underline;
}

.smallWhiteText{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration:none;
}
.smallWhiteText a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
.smallWhiteText a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
.smallWhiteText a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}

.pinText {
	font-family:"Courier New", Courier, monospace;
	font-size: 13px;
	color:#000000;
	background-color:#EFEFEF;
	text-decoration:none;
	height: 20px;
}
.completeBorder {
	border: 1px solid #CCCCCC;;
}
.mediumText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A7DEB4;
	text-decoration:none;
}
.mediumText a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A7DEB4;
	text-decoration:none;
	font-weight:bold;
}
.mediumText a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A7DEB4;
	font-weight:bold;
	text-decoration:none;
}
.mediumText a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A7DEB4;
	font-weight:bold;
	text-decoration:underline;
}
.errorText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #E7290E;
}
.errorText2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #E7290E;
}

.greyStrip {
	background-image: url(../../adminpanel/images/greystrip.jpg);
	background-repeat: repeat-x;
}
.selectorBar {
	background-color: #DFDFDF;
	height: 35px;
}
.comboFree {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	border: 1px solid #2B8FC0;
}
.comboFree3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	border: 1px solid #2B8FC0;
	width:100px;
}
.comboFree2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	border: 1px solid #2B8FC0;
}
.defaultText{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	border: 1px solid #2B8FC0;

}
.textBoxFree {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	border: 1px solid #2B8FC0;
}



.leftdotted {
}
.leftWhitedotted {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
}
.roundedLeft {
	background-image: url(../../adminpanel/images/roundedleft.jpg);
	height: 132px;
	width: 11px;
	background-repeat: no-repeat;
}
.smallGreyStrip {
	background-image: url(../../adminpanel/images/smallGreyStrip.jpg);
	background-repeat: repeat-x;
}

.roundedRight {
	background-image: url(../../adminpanel/images/roundedRight.jpg);
	height: 132px;
	width: 11px;
	background-repeat: no-repeat;
}
.loginButton {
	background-color: #2377A3;
	height: 20px;
	width: 60px;
	border: 1px solid #1E6488;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.defaultButton {
	background-color: #2377A3;
	height: 20px;
	/*width: 60px;*/
	border: 1px solid #1E6488;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.bottomDotted {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #E6E6E6;
}
.bottomSolid {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.blueMenuHeaders {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #2B8FC0;
	height: 25px;
	font-weight: bold;
}
.greyMenuHeaders {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #999999;
	height: 25px;
	font-weight: bold;
}
.medBigBlueText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2B8FC0;
	text-decoration:none;
}
.medBigBlueText a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2B8FC0;
	text-decoration:none;
}
.medBigBlueText a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2B8FC0;
	text-decoration:none;
}
.medBigBlueText a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2B8FC0;
	text-decoration:underline;
}
.topBottomSolid {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #333333;
	border-bottom-color: #CCCCCC;
	border-left-color: #333333;
	background-color: #F1F1F1;
	border-bottom-style: solid;
	border-left-style: none;
}
.greenText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;
	text-decoration:none;
}
.redText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #993300;
	text-decoration:none;
}
.lightBlueBack {
	background-color: #DFE6FD;
}
.mtn-back {
	background-image: url(../../adminpanel/images/mtn-back.jpg);
	height: 124px;
	width: 124px;
}
.celtel-back {
	background-image: url(../../adminpanel/images/celtel-back.jpg);
	height: 124px;
	width: 124px;
}
.glo-back {
	background-image: url(../../adminpanel/images/glo-back.jpg);
	height: 124px;
	width: 124px;
}
.starcomms-back {
	background-image: url(../../adminpanel/images/starcomms-back.jpg);
	height: 124px;
	width: 124px;
}
.reltel-back {
	background-image: url(../../adminpanel/images/reltel-back.jpg);
	height: 124px;
	width: 124px;
}
.multilinks-back {
	background-image: url(../../adminpanel/images/multilinks-back.jpg);
	height: 124px;
	width: 124px;
}
.login-back
{background-image:url(../../adminpanel/images/login_bg.jpg);
width:557px;
height:176px;
}
.loginTextNew{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	border: 1px solid #B1B0B0;
	width: 160px;
}
.menuTextNew {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #767676;
	text-decoration:none;
}

.menuTextLink {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #767676;
	text-decoration:none;
}
.menuTextLink a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #767676;
	text-decoration:none;
}
.menuTextLink a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #767676;
	text-decoration:none;
}
.menuTextLink a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #767676;
	font-weight: bold;
	text-decoration:underline;
}
.howto-bg
{background-image:url(../../adminpanel/images/how_bg.jpg);
width:248px;
height:96px;
}

.HOWtOLink {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B9B9B9;
	text-decoration:none;
}
.HOWtOLink a:link{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B9B9B9;
	text-decoration:none;
}
.HOWtOLink a:visited{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B9B9B9;
	text-decoration:none;
}
.HOWtOLink a:hover{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B9B9B9;
	text-decoration:underline;
}

.othercards ul {
	list-style-image:url(../../adminpanel/images/bullet.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #476b87;
		
	}
	
.othercards ul a:link {
	list-style-image:url(../../adminpanel/images/bullet.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #476b87;
	
	text-decoration: none;
	}
	
	.othercards ul a:visited {
	list-style-image:url(../../adminpanel/images/bullet.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
    color: #3ba0cc;
	text-decoration: none;	
	}
	.othercards ul a:hover {
	list-style-image:url(../../adminpanel/images/bullet.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff7c0d;

	text-decoration: underline;	
	}
	.othercards ul a:active {
	list-style-image:url(../../adminpanel/images/bullet.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #476b87;
	
	text-decoration: underline;	
	}
	.bl {background: url(../../adminpanel/images/phcn_bg4.gif) 0 100% no-repeat}
.br {background: url(../../adminpanel/images/phcn_bg3.gif) 100% 100% no-repeat}
.tl {background: url(../../adminpanel/images/phcn_bg.gif) 0 0 no-repeat}
.tr {background: url(../../adminpanel/images/phcn_bg2.gif) 100% 0 no-repeat; padding:10px}
.t {background: url(../../adminpanel/images/dot.jpg) 0 0 repeat-x; width: 100%}
.b {background: url(../../adminpanel/images/dot.jpg) 0 100% repeat-x}
.l {background: url(../../adminpanel/images/dot.jpg) 0 0 repeat-y}
.r {background: url(../../adminpanel/images/dot.jpg) 100% 0 repeat-y} 


.orange-brd
{
border:thin solid 1px #5076a3;
color:#5076a3;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
}

.fo{
	
	}
.orange-brd a:link
{
	color:#5076a3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration: none;
}
.orange-brd a:visited
{
color:#5076a3;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
text-decoration: none;
}

.orange-brd a:hover
{
color:#5076a3;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
text-decoration: none;
}
.orange-brd a:active
{
color:#5076a3;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
text-decoration: none;
}
.thin-table-brd
{
border:thin solid 1px #e9e9e9;
}
.small-orange
{
color:#ff9900;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
}
#masterdiv {color:#FFF;}
#TextLinks {width:250px; height:auto; float:left; color:#FFF;}

#TextLinks ul {
	list-style-image:url(../../adminpanel/images/linkArrow2.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 2.0em;		
	}
	
	#TextLinks ul a:link {
	list-style-image:url(../../adminpanel/images/linkArrow2.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	}
	
	#TextLinks ul a:visited {
	list-style-image:url(../../adminpanel/images/linkArrow2.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;

	text-decoration: none;	
	}
	#TextLinks ul a:hover {
	list-style-image:url(../../adminpanel/images/linkArrow2.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;

	text-decoration: underline;	
	}
	#TextLinks ul a:active {
	list-style-image:url(../../adminpanel/images/linkArrow2.gif);
	list-style-position:outside;
	list-style-type: disc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	
	text-decoration: none;	
	}